.period {
  border: 0.8px solid black;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.4vmax;
}
.header {
  border: 1px solid black;
  border-top: 2px solid black;
  border-bottom: 1.2px solid black;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  font-size: 125%;
}
.headerText {
  font-weight: bold;
  font-size: 150%;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.month-topmost-layer, .topmost-layer {
  display: inline-flex !important;
  height: 90vh;
  min-height: 60vw;
  font-size: 1.2vw;
}
.month-topmost-layer {
  justify-content: space-between;
}
.week-outer-layer {
  width: 19vw;
}
.day-outer-layer {
  width: 50vw;
}