.period {
  border: 0.8px solid black;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header {
  border: 1.2px solid black;
  border-bottom: 1.8px solid black;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  height: 7vh;
  min-height: 3em;
}
.headerText {
  font-weight: bold;
  font-size: 1.2em;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.topmost-layer {
  border: 1.2px solid black;
  height: 80vh;
  display: inline-flex !important;
}
.month-topmost-layer {
  display: inline-flex !important;
}
.week-outer-layer {
  min-width: 181px;
  max-width: 280px;
  width: 16vw;
}
.day-outer-layer {
  min-width: 181px;
  max-width: 280px;
  width: 80vw;
}