.period {
  border: 1px solid #9aa0a6;
  color: rgba(0,0,0,.87);
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.header {
  border: 1px solid #9aa0a6;
  justify-content: space-between;
  font-size: 100%;
  align-items: center;
}
.header-left {
  justify-content: space-around;
  text-align: center;
  margin-left: 4%;
}
.header-right {
  font-size: 200%;
  margin-right: 4%;
  font-weight: bold;
  color: rgba(0,0,0,.38);
}
.header-day {
  font-size: 72%;
  text-transform: uppercase;
  color: rgba(0,0,0,.87);
}
.header-date {
  font-size: 135%;
  font-weight: bold;
  color: rgba(0,0,0,.54);
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.line-indicator {
  position: absolute;
  height: 0;
  width: 100%;
  border-bottom: 2px solid red;
}
.triangle-indicator-right {
  position: absolute;
  width: 0; 
  height: 0;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-right: 12px solid red;
  transform: translate(0, calc(-50% + 1px));
}
.triangle-indicator-left {
  position: absolute;
  width: 0; 
  height: 0;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-left: 12px solid red;
  transform: translate(0, calc(-50% + 1px));
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.month-topmost-layer, .topmost-layer {
  display: inline-flex !important;
  flex: 1 1 auto;
  font-size: 2.5vmin;
}
.month-topmost-layer {
  justify-content: space-between;
}
.topmost-layer {
  border: 1px solid #9aa0a6;
  border-radius: 2px;
}
.week-outer-layer {
  width: 19vw;
}
.day-outer-layer {
  width: 50vw;
}
.arrow-container {
  height: 6vmin;
  width: 6vmin;
  font-size: 6vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-button {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.arrow-container:hover {
  font-weight: bold
}
.arrow {
  margin-bottom: 1.2vmin;
}